:host {
  display: flex;
  flex-direction: column;
  height: 100%; // Ocupa toda a altura do seu pai (.content)
}

.list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
}

.list-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  flex-wrap: wrap; // Permite quebrar linha em telas pequenas
  gap: 16px;

  .list-title {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
  }

  .header-button {
    margin-left: 16px;
  }
}

.list-controls {
  flex-shrink: 0;
  margin-bottom: 16px;
}

.search-field {
  width: 40%;
  min-width: 250px;
}

.table-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-scroll-container {
  flex: 1;
  overflow-y: auto;
}

table {
  width: 100%;
}

.mat-header-cell {
  font-weight: 600;
}

.mat-column-actions {
  width: 120px;
  text-align: right;
}

mat-paginator {
  flex-shrink: 0;
}
